.container { 
    max-width: 1000px;
    font-family: Arial, sans-serif;
    color: #000;
}

.text-dark-grey {
    color:#97AAC3;
    font-size: 0.9rem;
}

.text-light-grey {
    color:#c9c9c9;
}

.nav-link.text-light-grey:hover {
    color:#fff;
}

.text-subtitle {
    font-size: 1.2rem;
    font-weight: light;
    font-family: sans-serif;
    text-align: center;
}
.bg-aside {
    background-color: rgb(35, 68, 95);
}

.text-justify {
    text-align: justify;
}

h5, h4 {
    color:#4c85a1;
}